<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:task="http://www.springframework.org/schema/task"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
      http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/task http://www.springframework.org/schema/task/spring-task.xsd"
>


    <!-- 要启动 注解 配置，本来应该加上  <context:annotation-config/> 这一句，不过下面一句已经包含了它的作用，所以不用重复加  -->
    <context:component-scan base-package="com.spring.demos.xml_conf_task">
        <context:exclude-filter type="annotation" expression="org.springframework.stereotype.Controller" />
    </context:component-scan>

    <!-- The following element will create a ThreadPoolTaskScheduler instance with the specified thread pool size  -->
    <task:scheduler id="scheduler" pool-size="10"/>


    <!-- The following will create a ThreadPoolTaskExecutor instance -->
    <task:executor id="executor" pool-size="10"/>

    <!-- 更多配置 -->
    <task:executor
            id="executorWithCallerRunsPolicy"
            pool-size="5-25"
            queue-capacity="100"
            rejection-policy="CALLER_RUNS"/>



    <!-- 用 xml 配置定时任务，需要两个元素，一个是用于执行任务的线程池 <task:scheduler />; 一个是被调度的任务列表定义 <task:scheduled-tasks />; -->
    <task:scheduler id="taskScheduler" pool-size="10"/>
    <task:scheduled-tasks scheduler="taskScheduler">
        <task:scheduled ref="myTasks" method="cronTask"  cron="*/5 * * * * ?"/>
    </task:scheduled-tasks>

</beans>